name: 'Require tests if source code is changed'

on:
  pull_request_target:
    types: [opened]

jobs:
  check:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: infection/tests-checker-action@v1.0.2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          fileExtensions: '.php'
